<div class="nav">
  <div class="nav-header">
        <div class="nav-title">
            <a  href="/books" class="log">Teacher's Ltd</a>
        </div>
  </div>
  <div class="nav-btn">
    <label for="nav-check">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>
  
  <div class="nav-links">
    <a href="addBook"><span>addNewBook</span></a>
  </div>
</div>